<%= form_for @tweet do |f| %>
  <%= f.text_area :text, cols: 40, rows: 5 ,maxlength: 140 %>
  <%= f.text_field :image %>
  <%= f.submit '保存' %>
<% end %>
<hr>
<button type="submit" style = "width: 70px; height: 25px;"><%= link_to 'ツイート', post_tweets_path %></button>
